# Complete Guide on DataFrame Operations in PySpark

https://www.analyticsvidhya.com/blog/2016/10/spark-dataframe-and-operations/

## Creating a SparkContext

First we need to create a SparkContext. We will import this from pyspark:

In [1]:
# from pyspark import SparkContext

Now create the SparkContext,A SparkContext represents the connection to a Spark cluster, and can be used to create an RDD and broadcast variables on that cluster.

*Note! You can only have one SparkContext at a time the way we are running things here.*

In [4]:
# sc = SparkContext()

In [21]:
# Spark context alreday exists!
sc

In [136]:
sc.version

u'1.6.0'

# Creating DataFrame from RDD

In [137]:
from pyspark.sql import Row
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)

In [138]:
type(schemaPeople)

pyspark.sql.dataframe.DataFrame

# Creating the DataFrame from CSV file

In [55]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

# @hidden_cell
# This function is used to setup the access of Spark to your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def set_hadoop_config_with_credentials_19099026f8df40b6aec4353c7e897e95(name):
    """This function sets the Hadoop configuration so it is possible to
    access data from Bluemix Object Storage using Spark"""

    prefix = 'fs.swift.service.' + name
    hconf = sc._jsc.hadoopConfiguration()
    hconf.set(prefix + '.auth.url', 'https://identity.open.softlayer.com'+'/v3/auth/tokens')
    hconf.set(prefix + '.auth.endpoint.prefix', 'endpoints')
    hconf.set(prefix + '.tenant', 'cc29768790ec45439a43668592b02f84')
    hconf.set(prefix + '.username', 'd47dac60c7684410842aa453908da4ca')
    hconf.set(prefix + '.password', 'R1o7wzw?37&dHIMq')
    hconf.setInt(prefix + '.http.port', 8080)
    hconf.set(prefix + '.region', 'dallas')
    hconf.setBoolean(prefix + '.public', False)

# you can choose any name
name = 'keystone'
set_hadoop_config_with_credentials_19099026f8df40b6aec4353c7e897e95(name)

train = sqlContext.read.format('com.databricks.spark.csv')\
  .options(header='true', inferschema='true')\
  .load("swift://DatabricksSpark." + name + "/train.csv")
train.take(5)

[Row(User_ID=1000001, Product_ID=u'P00069042', Gender=u'F', Age=u'0-17', Occupation=10, City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=0, Product_Category_1=3, Product_Category_2=None, Product_Category_3=None, Purchase=8370),
 Row(User_ID=1000001, Product_ID=u'P00248942', Gender=u'F', Age=u'0-17', Occupation=10, City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=0, Product_Category_1=1, Product_Category_2=6, Product_Category_3=14, Purchase=15200),
 Row(User_ID=1000001, Product_ID=u'P00087842', Gender=u'F', Age=u'0-17', Occupation=10, City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=0, Product_Category_1=12, Product_Category_2=None, Product_Category_3=None, Purchase=1422),
 Row(User_ID=1000001, Product_ID=u'P00085442', Gender=u'F', Age=u'0-17', Occupation=10, City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=0, Product_Category_1=12, Product_Category_2=14, Product_Category_3=None, Purchase=1057),
 Row(User_ID=1000002, Product_ID=u'P00285442', Gender=u'M', Age=u'55+', Occupation=16, City_Category=u'C', Stay_In_Current_City_Years=u'4+', Marital_Status=0, Product_Category_1=8, Product_Category_2=None, Product_Category_3=None, Purchase=7969)]

In [140]:
type(train)

pyspark.sql.dataframe.DataFrame

In [16]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

# @hidden_cell
# This function is used to setup the access of Spark to your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def set_hadoop_config_with_credentials_19099026f8df40b6aec4353c7e897e95(name):
    """This function sets the Hadoop configuration so it is possible to
    access data from Bluemix Object Storage using Spark"""

    prefix = 'fs.swift.service.' + name
    hconf = sc._jsc.hadoopConfiguration()
    hconf.set(prefix + '.auth.url', 'https://identity.open.softlayer.com'+'/v3/auth/tokens')
    hconf.set(prefix + '.auth.endpoint.prefix', 'endpoints')
    hconf.set(prefix + '.tenant', 'cc29768790ec45439a43668592b02f84')
    hconf.set(prefix + '.username', 'd47dac60c7684410842aa453908da4ca')
    hconf.set(prefix + '.password', 'R1o7wzw?37&dHIMq')
    hconf.setInt(prefix + '.http.port', 8080)
    hconf.set(prefix + '.region', 'dallas')
    hconf.setBoolean(prefix + '.public', False)

# you can choose any name
name = 'keystone'
set_hadoop_config_with_credentials_19099026f8df40b6aec4353c7e897e95(name)

test = sqlContext.read.format('com.databricks.spark.csv')\
  .options(header='true', inferschema='true')\
  .load("swift://DatabricksSpark." + name + "/test.csv")
test.take(5)

[Row(User_ID=1000004, Product_ID=u'P00128942', Gender=u'M', Age=u'46-50', Occupation=7, City_Category=u'B', Stay_In_Current_City_Years=u'2', Marital_Status=1, Product_Category_1=1, Product_Category_2=11, Product_Category_3=None),
 Row(User_ID=1000009, Product_ID=u'P00113442', Gender=u'M', Age=u'26-35', Occupation=17, City_Category=u'C', Stay_In_Current_City_Years=u'0', Marital_Status=0, Product_Category_1=3, Product_Category_2=5, Product_Category_3=None),
 Row(User_ID=1000010, Product_ID=u'P00288442', Gender=u'F', Age=u'36-45', Occupation=1, City_Category=u'B', Stay_In_Current_City_Years=u'4+', Marital_Status=1, Product_Category_1=5, Product_Category_2=14, Product_Category_3=None),
 Row(User_ID=1000010, Product_ID=u'P00145342', Gender=u'F', Age=u'36-45', Occupation=1, City_Category=u'B', Stay_In_Current_City_Years=u'4+', Marital_Status=1, Product_Category_1=4, Product_Category_2=9, Product_Category_3=None),
 Row(User_ID=1000011, Product_ID=u'P00053842', Gender=u'F', Age=u'26-35', Occupation=1, City_Category=u'C', Stay_In_Current_City_Years=u'1', Marital_Status=0, Product_Category_1=4, Product_Category_2=5, Product_Category_3=12)]

# DataFrame Manipulations

#### How to see datatype of columns?

In [142]:
train.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- Purchase: integer (nullable = true)

#### How to Show first n observation?

In [143]:
#Previewing the data set
train.head(10)

[Row(User_ID=1000001, Product_ID=u'P00069042', Gender=u'F', Age=u'0-17', Occupation=10, City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=0, Product_Category_1=3, Product_Category_2=None, Product_Category_3=None, Purchase=8370),
 Row(User_ID=1000001, Product_ID=u'P00248942', Gender=u'F', Age=u'0-17', Occupation=10, City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=0, Product_Category_1=1, Product_Category_2=6, Product_Category_3=14, Purchase=15200),
 Row(User_ID=1000001, Product_ID=u'P00087842', Gender=u'F', Age=u'0-17', Occupation=10, City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=0, Product_Category_1=12, Product_Category_2=None, Product_Category_3=None, Purchase=1422),
 Row(User_ID=1000001, Product_ID=u'P00085442', Gender=u'F', Age=u'0-17', Occupation=10, City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=0, Product_Category_1=12, Product_Category_2=14, Product_Category_3=None, Purchase=1057),
 Row(User_ID=1000002, Product_ID=u'P00285442', Gender=u'M', Age=u'55+', Occupation=16, City_Category=u'C', Stay_In_Current_City_Years=u'4+', Marital_Status=0, Product_Category_1=8, Product_Category_2=None, Product_Category_3=None, Purchase=7969),
 Row(User_ID=1000003, Product_ID=u'P00193542', Gender=u'M', Age=u'26-35', Occupation=15, City_Category=u'A', Stay_In_Current_City_Years=u'3', Marital_Status=0, Product_Category_1=1, Product_Category_2=2, Product_Category_3=None, Purchase=15227),
 Row(User_ID=1000004, Product_ID=u'P00184942', Gender=u'M', Age=u'46-50', Occupation=7, City_Category=u'B', Stay_In_Current_City_Years=u'2', Marital_Status=1, Product_Category_1=1, Product_Category_2=8, Product_Category_3=17, Purchase=19215),
 Row(User_ID=1000004, Product_ID=u'P00346142', Gender=u'M', Age=u'46-50', Occupation=7, City_Category=u'B', Stay_In_Current_City_Years=u'2', Marital_Status=1, Product_Category_1=1, Product_Category_2=15, Product_Category_3=None, Purchase=15854),
 Row(User_ID=1000004, Product_ID=u'P0097242', Gender=u'M', Age=u'46-50', Occupation=7, City_Category=u'B', Stay_In_Current_City_Years=u'2', Marital_Status=1, Product_Category_1=1, Product_Category_2=16, Product_Category_3=None, Purchase=15686),
 Row(User_ID=1000005, Product_ID=u'P00274942', Gender=u'M', Age=u'26-35', Occupation=20, City_Category=u'A', Stay_In_Current_City_Years=u'1', Marital_Status=1, Product_Category_1=8, Product_Category_2=None, Product_Category_3=None, Purchase=7871)]

In [144]:
train.show(2,truncate= True)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 2 rows

#### How to Count the number of rows in DataFrame?

In [145]:
train.count(),test.count()

(550068, 233599)

#### How many columns do we have in train and test files along with their names?

In [146]:
len(train.columns), train.columns

(12,
 ['User_ID',
  'Product_ID',
  'Gender',
  'Age',
  'Occupation',
  'City_Category',
  'Stay_In_Current_City_Years',
  'Marital_Status',
  'Product_Category_1',
  'Product_Category_2',
  'Product_Category_3',
  'Purchase'])

In [147]:
len(test.columns), test.columns

(11,
 ['User_ID',
  'Product_ID',
  'Gender',
  'Age',
  'Occupation',
  'City_Category',
  'Stay_In_Current_City_Years',
  'Marital_Status',
  'Product_Category_1',
  'Product_Category_2',
  'Product_Category_3'])

#### How to get the summary statistics (mean, standard deviance, min ,max , count) of numerical columns in a DataFrame?

In [157]:
train.describe()

DataFrame[summary: string, User_ID: string, Occupation: string, Marital_Status: string, Product_Category_1: string, Product_Category_2: string, Product_Category_3: string, Purchase: string]

In [158]:
train.describe().show()

+-------+------------------+-----------------+-------------------+------------------+------------------+------------------+------------------+
|summary|           User_ID|       Occupation|     Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|          Purchase|
+-------+------------------+-----------------+-------------------+------------------+------------------+------------------+------------------+
|  count|            550068|           550068|             550068|            550068|            376430|            166821|            550068|
|   mean|1003028.8424013031|8.076706879876669|0.40965298835780306| 5.404270017525106| 9.842329251122386|12.668243206790512| 9263.968712959126|
| stddev|1727.5915855308265|6.522660487341778| 0.4917701263173273|3.9362113692014082| 5.086589648693526| 4.125337631575267|5023.0653938206015|
|    min|           1000001|                0|                  0|                 1|                 2|                 3|                12|
|    max|           1006040|               20|                  1|                20|                18|                18|             23961|
+-------+------------------+-----------------+-------------------+------------------+------------------+------------------+------------------+

In [159]:
train.describe('Product_ID').show()

+-------+----------+
|summary|Product_ID|
+-------+----------+
|  count|    550068|
|   mean|      null|
| stddev|      null|
|    min| P00000142|
|    max|  P0099942|
+-------+----------+

#### How to select column(s) from the DataFrame?

In [160]:
train.select('User_ID','Age').show(5)

+-------+----+
|User_ID| Age|
+-------+----+
|1000001|0-17|
|1000001|0-17|
|1000001|0-17|
|1000001|0-17|
|1000002| 55+|
+-------+----+
only showing top 5 rows

#### How to find the number of distinct product in train and test files?

In [161]:
train.select('Product_ID').distinct().count(),test.select('Product_ID').distinct().count()

(3631, 3491)

In [162]:
diff_cat_in_train_test=test.select('Product_ID').subtract(train.select('Product_ID'))
diff_cat_in_train_test.distinct().count()# For distict count

46

#### What if I want to calculate pair wise frequency of categorical columns?

In [163]:
train.crosstab('Age', 'Gender').show()

+----------+-----+------+
|Age_Gender|    F|     M|
+----------+-----+------+
|      0-17| 5083| 10019|
|     46-50|13199| 32502|
|     18-25|24628| 75032|
|     36-45|27170| 82843|
|       55+| 5083| 16421|
|     51-55| 9894| 28607|
|     26-35|50752|168835|
+----------+-----+------+

#### What If I want to get the DataFrame which won’t have duplicate rows of given DataFrame?

In [164]:
train.select('Age','Gender').dropDuplicates().show()

+-----+------+
|  Age|Gender|
+-----+------+
|51-55|     F|
|51-55|     M|
|26-35|     F|
|26-35|     M|
|36-45|     F|
|36-45|     M|
|46-50|     F|
|46-50|     M|
|  55+|     F|
|  55+|     M|
|18-25|     F|
| 0-17|     F|
|18-25|     M|
| 0-17|     M|
+-----+------+

#### What if I want to drop the all rows with null value?

In [165]:
train.dropna().count()

166821

#### What if I want to fill the null values in DataFrame with constant number?

In [166]:
train.fillna(-1).show(2)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                -1|                -1|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 2 rows

#### If I want to filter the rows in train which has Purchase more than 15000?

In [167]:
train.filter(train.Purchase > 15000).count()

110523

#### How to find the mean of each age group in train?

In [168]:
train.groupby('Age').agg({'Purchase': 'mean'}).show()

+-----+-----------------+
|  Age|    avg(Purchase)|
+-----+-----------------+
|51-55|9534.808030960236|
|46-50|9208.625697468327|
| 0-17|8933.464640444974|
|36-45|9331.350694917874|
|26-35|9252.690632869888|
|  55+|9336.280459449405|
|18-25|9169.663606261289|
+-----+-----------------+

In [169]:
train.groupby('Age').count().show()

+-----+------+
|  Age| count|
+-----+------+
|51-55| 38501|
|46-50| 45701|
| 0-17| 15102|
|36-45|110013|
|26-35|219587|
|  55+| 21504|
|18-25| 99660|
+-----+------+

#### How to create a sample DataFrame from the base DataFrame?

In [170]:
t1 = train.sample(False, 0.2, 42)
t2 = train.sample(False, 0.2, 43)
t1.count(),t2.count()

(109812, 109745)

#### How to apply map operation on DataFrame columns?

In [171]:
train.select('User_ID').map(lambda x:(x,1)).take(5)

[(Row(User_ID=1000001), 1),
 (Row(User_ID=1000001), 1),
 (Row(User_ID=1000001), 1),
 (Row(User_ID=1000001), 1),
 (Row(User_ID=1000002), 1)]

In [172]:
# above is an rdd after applying the map, hence we used take() instead of the show()
type(train.select('User_ID').map(lambda x:(x,1)))

pyspark.rdd.PipelinedRDD

#### How to sort the DataFrame based on column(s)?

In [173]:
type(train.orderBy(train.Purchase.desc()))

pyspark.sql.dataframe.DataFrame

In [174]:
train.orderBy(train.Purchase.desc()).show(5)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1003160| P00052842|     M|26-35|        17|            C|                         3|             0|                10|                15|              null|   23961|
|1002272| P00052842|     M|26-35|         0|            C|                         1|             0|                10|                15|              null|   23961|
|1001474| P00052842|     M|26-35|         4|            A|                         2|             1|                10|                15|              null|   23961|
|1005848| P00119342|     M|51-55|        20|            A|                         0|             1|                10|                13|              null|   23960|
|1003045| P00052842|     M|46-50|         1|            B|                         2|             1|                10|                15|              null|   23960|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

#### How to add the new column in DataFrame?

In [175]:
train.withColumn('Purchase_new', train.Purchase /2.0).select('Purchase','Purchase_new').show(5)

+--------+------------+
|Purchase|Purchase_new|
+--------+------------+
|    8370|      4185.0|
|   15200|      7600.0|
|    1422|       711.0|
|    1057|       528.5|
|    7969|      3984.5|
+--------+------------+
only showing top 5 rows

#### How to drop a column in DataFrame?

In [176]:
test.drop('Comb').columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3']

#### What if I want to remove some categories of Product_ID column in test that are not present in Product_ID column in train?

In [177]:
diff_cat_in_train_test=test.select('Product_ID').subtract(train.select('Product_ID'))
diff_cat_in_train_test.distinct().count()# For distict coun

46

In [178]:
not_found_cat = diff_cat_in_train_test.distinct().rdd.map(lambda x: x[0]).collect()
len(not_found_cat)

46

In [179]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf
F1 = udf(lambda x: '-1' if x in not_found_cat else x, StringType())

In [180]:
k = test.withColumn("NEW_Product_ID",F1(test["Product_ID"])).select('NEW_Product_ID')

In [181]:
diff_cat_in_train_test=k.select('NEW_Product_ID').subtract(train.select('Product_ID'))
diff_cat_in_train_test.distinct().count()# For distinct count

1

In [182]:
diff_cat_in_train_test.distinct().collect()

[Row(NEW_Product_ID=u'-1')]

#### How to Apply SQL Queries on DataFrame?

In [6]:
train = sqlContext.read.format('com.databricks.spark.csv')\
  .options(header='true', inferschema='true')\
  .load("swift://DatabricksSpark." + name + "/train.csv")
#train.take(5)
train.show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F| 0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F| 0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M|  55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|     M|46-50|         7|            B|                         2|             1|                 1|                16|              null|   15686|
|1000005| P00274942|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    7871|
|1000005| P00251242|     M|26-35|        20|            A|                         1|             1|                 5|                11|              null|    5254|
|1000005| P00014542|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    3957|
|1000005| P00031342|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    6073|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|
|1000006| P00190242|     F|51-55|         9|            A|                         1|             0|                 4|                 5|              null|    2079|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|                 3|                 4|   13055|
|1000006| P00058442|     F|51-55|         9|            A|                         1|             0|                 5|                14|              null|    8851|
|1000007| P00036842|     M|36-45|         1|            B|                         1|             1|                 1|                14|                16|   11788|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

In [7]:
type(train)

pyspark.sql.dataframe.DataFrame

In [8]:
train.registerTempTable("train_table")

In [10]:
type("train_table")

str

In [11]:
sqlContext.sql("SELECT Product_ID FROM train_table").show(5)

+----------+
|Product_ID|
+----------+
| P00069042|
| P00248942|
| P00087842|
| P00085442|
| P00285442|
+----------+
only showing top 5 rows

In [12]:
sqlContext.sql('select Age, max(Purchase) from train_table group by Age').show()

+-----+-----+
|  Age|  _c1|
+-----+-----+
|51-55|23960|
|46-50|23960|
| 0-17|23955|
|36-45|23960|
|26-35|23961|
|  55+|23960|
|18-25|23958|
+-----+-----+

# Pandas vs PySpark DataFrame

Pandas and Spark DataFrame are designed for structural and semistructral data processing. Both share some similar properties (which I have discussed above). The few differences between Pandas and PySpark DataFrame are:

Operation on Pyspark DataFrame run parallel on different nodes in cluster but, in case of pandas it is not possible.
Operations in PySpark DataFrame are lazy in nature but, in case of pandas we get the result as soon as we apply any operation.
In PySpark DataFrame, we can’t change the DataFrame due to it’s immutable property, we need to transform it. But in pandas it is not the case.
Pandas API support more operations than PySpark DataFrame. Still pandas API is more powerful than Spark.
Complex operations in pandas are easier to perform than Pyspark DataFrame

#### Transforming categorical variables to labels

### Rerun the cells, Creating the DataFrame from CSV file, to create DataFrames train and test, if required.

In [19]:
train = train.fillna(-1)
test = test.fillna(-1)

In [21]:
#train.count(),test.count()

(550068, 233599)

In [22]:
train.na.drop().count(),test.na.drop('any').count()

(550068, 233599)

In [26]:
from pyspark.ml.feature import StringIndexer
plan_indexer = StringIndexer(inputCol = 'Product_ID', outputCol = 'product_ID')
labeller = plan_indexer.fit(train)

In [27]:
Train1 = labeller.transform(train)
Test1 = labeller.transform(test)

In [28]:
Train1.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|product_ID|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                -1|                -1|    8370|     766.0|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|     183.0|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|                -1|                -1|    1422|    1496.0|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|                -1|    1057|     481.0|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|                -1|                -1|    7969|     860.0|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------+
only showing top 5 rows

In [29]:
from pyspark.ml.feature import RFormula
formula = RFormula(formula="Purchase ~ Age+ Occupation +City_Category+Stay_In_Current_City_Years+Product_Category_1+Product_Category_2+ Gender",featuresCol="features",labelCol="label")

In [30]:
t1 = formula.fit(Train1)
train1 = t1.transform(Train1)
test1 = t1.transform(Test1)

In [31]:
train1.show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------+--------------------+-------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|product_ID|            features|  label|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------+--------------------+-------+
|1000001| P00069042|     F| 0-17|        10|            A|                         2|             0|                 3|                -1|                -1|    8370|     766.0|(16,[6,10,13,14],...| 8370.0|
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|     183.0|(16,[6,10,13,14],...|15200.0|
|1000001| P00087842|     F| 0-17|        10|            A|                         2|             0|                12|                -1|                -1|    1422|    1496.0|(16,[6,10,13,14],...| 1422.0|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|                -1|    1057|     481.0|(16,[6,10,13,14],...| 1057.0|
|1000002| P00285442|     M|  55+|        16|            C|                        4+|             0|                 8|                -1|                -1|    7969|     860.0|(16,[5,6,8,12,13,...| 7969.0|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|                -1|   15227|     157.0|(16,[0,6,11,13,14...|15227.0|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|       5.0|(16,[3,6,7,10,13,...|19215.0|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|                15|                -1|   15854|     177.0|(16,[3,6,7,10,13,...|15854.0|
|1000004|  P0097242|     M|46-50|         7|            B|                         2|             1|                 1|                16|                -1|   15686|      51.0|(16,[3,6,7,10,13,...|15686.0|
|1000005| P00274942|     M|26-35|        20|            A|                         1|             1|                 8|                -1|                -1|    7871|      78.0|(16,[0,6,9,13,14,...| 7871.0|
|1000005| P00251242|     M|26-35|        20|            A|                         1|             1|                 5|                11|                -1|    5254|      27.0|(16,[0,6,9,13,14,...| 5254.0|
|1000005| P00014542|     M|26-35|        20|            A|                         1|             1|                 8|                -1|                -1|    3957|     128.0|(16,[0,6,9,13,14,...| 3957.0|
|1000005| P00031342|     M|26-35|        20|            A|                         1|             1|                 8|                -1|                -1|    6073|    2318.0|(16,[0,6,9,13,14,...| 6073.0|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|       9.0|(16,[0,6,9,13,14,...|15665.0|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|    1680.0|(16,[4,6,9,13,14]...| 5378.0|
|1000006| P00190242|     F|51-55|         9|            A|                         1|             0|                 4|                 5|                -1|    2079|     927.0|(16,[4,6,9,13,14]...| 2079.0|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|                 3|                 4|   13055|    1000.0|(16,[4,6,9,13,14]...|13055.0|
|1000006| P00058442|     F|51-55|         9|            A|                         1|             0|                 5|                14|                -1|    8851|     209.0|(16,[4,6,9,13,14]...| 8851.0|
|1000007| P00036842|     M|36-45|         1|            B|                         1|             1|                 1|                14|                16|   11788|      58.0|(16,[1,6,7,9,13,1...|11788.0|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|      81.0|(16,[0,6,8,12,13,...|19614.0|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------+--------------------+-------+
only showing top 20 rows

In [32]:
train1.select('features').show()

+--------------------+
|            features|
+--------------------+
|(16,[6,10,13,14],...|
|(16,[6,10,13,14],...|
|(16,[6,10,13,14],...|
|(16,[6,10,13,14],...|
|(16,[5,6,8,12,13,...|
|(16,[0,6,11,13,14...|
|(16,[3,6,7,10,13,...|
|(16,[3,6,7,10,13,...|
|(16,[3,6,7,10,13,...|
|(16,[0,6,9,13,14,...|
|(16,[0,6,9,13,14,...|
|(16,[0,6,9,13,14,...|
|(16,[0,6,9,13,14,...|
|(16,[0,6,9,13,14,...|
|(16,[4,6,9,13,14]...|
|(16,[4,6,9,13,14]...|
|(16,[4,6,9,13,14]...|
|(16,[4,6,9,13,14]...|
|(16,[1,6,7,9,13,1...|
|(16,[0,6,8,12,13,...|
+--------------------+
only showing top 20 rows

In [33]:
train1.select('label').show()

+-------+
|  label|
+-------+
| 8370.0|
|15200.0|
| 1422.0|
| 1057.0|
| 7969.0|
|15227.0|
|19215.0|
|15854.0|
|15686.0|
| 7871.0|
| 5254.0|
| 3957.0|
| 6073.0|
|15665.0|
| 5378.0|
| 2079.0|
|13055.0|
| 8851.0|
|11788.0|
|19614.0|
+-------+
only showing top 20 rows

In [ ]:
# Building a Machine Learning Model: Random Forest

In [39]:
from pyspark.ml.regression import RandomForestRegressor
rf = RandomForestRegressor()

In [40]:
(train_cv, test_cv) = train1.randomSplit([0.7, 0.3])

In [41]:
model1 = rf.fit(train_cv)
predictions = model1.transform(test_cv)

In [42]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator = RegressionEvaluator()
mse = evaluator.evaluate(predictions,{evaluator.metricName:"mse" })
import numpy as np
np.sqrt(mse), mse

(3785.2924588462984, 14328438.998998655)

In [43]:
model = rf.fit(train1)
predictions1 = model.transform(test1)

In [44]:
df = predictions1.selectExpr("User_ID as User_ID", "Product_ID as Product_ID", 'prediction as Purchase')

In [89]:
## Did not work
## df.toPandas().to_csv("swift://"+ "DatabricksSpark." + name + "/submission1.csv",index=False)

In [46]:
# this worked with Spark dataframe
# Overwrite not working http://bit.ly/2jw5aWO
# Container name is DatabricksSpark
# Change file name to submissionn.csv, where n is a new number incremented number

fileNameOut = "swift://"+ "DatabricksSpark." + name + "/submission3.csv"
df.write.format('com.databricks.spark.csv').options(header='true').save(fileNameOut)

In [48]:

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

# @hidden_cell
# This function is used to setup the access of Spark to your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def set_hadoop_config_with_credentials_19099026f8df40b6aec4353c7e897e95(name):
    """This function sets the Hadoop configuration so it is possible to
    access data from Bluemix Object Storage using Spark"""

    prefix = 'fs.swift.service.' + name
    hconf = sc._jsc.hadoopConfiguration()
    hconf.set(prefix + '.auth.url', 'https://identity.open.softlayer.com'+'/v3/auth/tokens')
    hconf.set(prefix + '.auth.endpoint.prefix', 'endpoints')
    hconf.set(prefix + '.tenant', 'cc29768790ec45439a43668592b02f84')
    hconf.set(prefix + '.username', 'd47dac60c7684410842aa453908da4ca')
    hconf.set(prefix + '.password', 'R1o7wzw?37&dHIMq')
    hconf.setInt(prefix + '.http.port', 8080)
    hconf.set(prefix + '.region', 'dallas')
    hconf.setBoolean(prefix + '.public', False)

# you can choose any name
name = 'keystone'
set_hadoop_config_with_credentials_19099026f8df40b6aec4353c7e897e95(name)

df_data_1 = sqlContext.read.format('com.databricks.spark.csv')\
  .options(header='true', inferschema='true')\
  .load("swift://DatabricksSpark." + name + "/submission3.csv")
df_data_1.take(5)

[Row(User_ID=1000004, Product_ID=u'P00128942', Purchase=13392.424905928661),
 Row(User_ID=1000009, Product_ID=u'P00113442', Purchase=7917.352350629922),
 Row(User_ID=1000010, Product_ID=u'P00288442', Purchase=6478.243920429045),
 Row(User_ID=1000010, Product_ID=u'P00145342', Purchase=5853.415312002871),
 Row(User_ID=1000011, Product_ID=u'P00053842', Purchase=6492.888395717076)]